.header-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    background: linear-gradient(90deg,#1a84d4,#00269c );
}

.logo-container {
    margin-left: auto; 
}

.header-logo {
    max-height: 80px;
    width: auto;
    margin-right:20px
}

.file-button-container {
    display: flex;
    align-items: center;
    height:100%;
}
button.file-Button {
    height: 100%;
    background-color: white;
    color: black;
    transition: background-color 0.3s ease;
    border: 1px solid black;
}
.file-Button:hover {
    background-color: #001c3e;
}