.app-container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    min-width:150vh;
}

.content-container {
    display: flex;
    flex: 1;
    padding: 20px;
}

.devices-container {
    width: 200px; 
    margin-right: 20px;
    border: 3px solid #ccc;
}

.device {
    cursor: grab;
    margin-bottom: 10px; 
    text-align:center;
}

.graphs-container {
    flex: 1;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
    display: flex;
    gap: 20px; 
    width:100%;
}

.graph {
    width: 80%;
    height:300px;
    flex: 1;
    border: 3px solid #ccc;
    padding: 20px;
    position: relative;
}

.file-dropdown {
    position: relative;
    display: inline-block;
}

.file-dropdown-content {
    display: none;
    position: absolute;
    right: 0;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

    .file-dropdown-content a {
        color: black;
        padding: 12px 16px;
        text-decoration: none;
        display: block;
        text-align: left;
    }

        .file-dropdown-content a:hover {
            background-color: #ddd;
        }

.file-dropdown:hover .file-dropdown-content {
    display: block;
}

.file-dropbtn {
    background-color: #4CAF50;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
}
.file-Button {
    border: 3px solid #ccc;
}
